@import '../../../styles.scss';

.list-container {

  padding-top: 20px;

  >.function-app {
    display: flex;
    height: 40px;
    padding-left: 10px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $main-color-light;
      font-weight: bold;

      >span {
        color: $accent-color-dark;
      }
    }

    &.selected {
      background-color: $main-color-dark;

      >span {
        color: $accent-color-light;
      }
    }

    >.app-icon {
      width: 30px;
      height: 30px;
      margin-right: 7px;
    }
  }
}