@import 'https://fonts.googleapis.com/icon?family=Roboto';

$main-color-light: #3999C6;
$main-color-dark: #286C8C;
$accent-color-light: #FCD116;
$accent-color-dark: #FDBC0F;

body {
  margin: 0;
  font-family: Roboto;
}

.background-light {
  background-color: $main-color-light
}

.background-dark {
  background-color: $main-color-dark
}

.regular-font-color-light {
  color: $main-color-light;
}

.regular-font-color-dark {
  color: $main-color-dark;
}

.accent-font-color-light {
  color: $accent-color-light;
}

.accent-font-color-dark {
  color: $accent-color-dark;
}

.loader {
  border: 4px solid $main-color-dark;
  border-radius: 50%;
  border-top: 4px solid $accent-color-dark;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.75s linear infinite; /* Safari */
  animation: spin 0.75s linear infinite;

  &.small {
    border-width: 2px;
    width: 15px;
    height: 15px;
  }

  &.inverted-colors {
    border-color: $accent-color-light;
    border-top-color: $main-color-dark;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

div {
  ::-webkit-scrollbar {
    width: 6px;
    background-color: $main-color-light;
  }

  ::-webkit-scrollbar-thumb {
    margin: 5px;
    background-color: $accent-color-dark;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $main-color-light;
  }
}